html {
    display: flex;
    box-sizing: border-box;
    background-color:rgb(255, 255, 218);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    justify-content: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

div {
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 80px;
    text-align: left;
    font-weight:bold;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

ol, li {
    /*background-color:lightgoldenrodyellow;*/
    font-weight: normal;
    margin: 0px;
    padding: 20px;
}

ul.recipes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.recipes {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px;
}

.card {
    padding: 20px;
    margin: 0px;
    background-color:rgba(248, 177, 46, 0.548);
    display: flex;
    border: 1px solid rgb(11, 205, 253);
    box-shadow: 2px 4px 16px rgba(49, 49, 46, 0.46);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(48, 45, 45);
    font-weight: bold;
}

a:hover {
    background-color: darkturquoise;
    box-shadow: 1px 10px 26px rgba(49, 49, 46, 0.96);
}